<header class="header">
  <nav>
    <ul class="nav__col nav__col_links">
      <li><a href="/">home</a></li>

      <li><a href="/price/">pricing</a></li>
      <li><a href="/about/">about us</a></li>
      <li><a href="/blog/">blog</a></li>
      <li><a href="/about/terms-of-use/en/">terms of use</a></li>
      <li><a href="/about/refund-policy/en/">refund policy</a></li>
      <li><a href="/about/privacy/en/">Privacy policy</a></li>

      <li><a href="/blog/article/diet/">diet</a></li>
      <li><a href="/blog/article/hard-work/">hard-work</a></li>
      <li><a href="/blog/article/training-shedule/">training-shedule</a></li>

      <li><a href="/faq/en/">faq</a></li>
    </ul>
  </nav>
</header>